

body {
    background-color: rgba(52, 105, 59, 0.712);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    margin: 2em;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

nav ul {
    background: white;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 30%;
    text-align: right;
    padding: 2em;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;

    li {
      margin: 1em 0;

      &:nth-of-type(1) {
        margin-bottom: 4em;
      }

      a {
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5em;

        &:hover {
          color: rgb(39, 73, 48);
          font-size: 1.5em;
        }
      }
    }
}

.open {
  transform: translateX(0%);
}

h1, p {
  text-align: center;
}

h1 {
  margin-top: 1em;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
}

@media (min-width: 880px) {
  .wrap {
    margin: 0 4em;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: none;
  }

  .header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    a {
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
    }
  }

  nav ul {
    position: unset;
    background: none;
    display: flex;
    gap: 2em;
    height: auto;
    width: auto;
    transform: translateX(0%);

    li a {
      font-size: 1.2rem;
    }
  }
}