

body {
    background-color: aliceblue;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    margin: 2em;
}

header {
  background-image: url('https://thumbs.dreamstime.com/b/farm-wood-nature-field-fruit-table-product-grass-garden-background-stand-green-food-landscape-morning-outdoor-sky-podium-forest-327551438.jpg');
  background-size: cover;

    display: flow-root;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 0.4em;
    padding: 50px;
}

nav ul {
    background: rgb(81, 129, 91);

    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 30%;
    text-align: right;
    padding: 1em;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;

    li {
      margin: 2.5em 0 0 4em;

      &:nth-of-type(1) {
        margin-bottom: 4em;
      }

      a {
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5em;

        &:hover {
          color: rgb(0, 0, 0);
          font-size: 1.7em;
          cursor: pointer;
        }
      }
    }
}

.home-page,
.about-page,
.contact-page {
  background-color: aliceblue;
  margin-top: auto;
  border-radius: 0.4em;
}

.home-page {
  display: flex;
  justify-content: space-between;
}

.open {
  transform: translateX(0%);
}

.menu-open {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgb(81, 129, 91);
  border-radius: 50px;
  padding:7px;
  border: 1px black;
  
}

h1, p {
  text-align: center;
}

h1 {
  margin-left: 25px;
}

h2 {
  padding: 1.5rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 100px;
}

footer {
  background-color: aliceblue;
  color: black;
  text-align: center;
  padding: 5px 0;
}

@media (min-width: 880px) {
  .wrap {
    margin: 0 4em;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: none;
  }

  .header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    a {
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
    }
  }

  nav ul {
    position: unset;
    background: none;
    display: flex;
    gap: 2em;
    height: auto;
    width: auto;
    transform: translateX(0%);

    li a {
      font-size: 1.2rem;
    }
  }
}